{% extends 'users/base.html' %}

{% block title %}HeadHunter | Работа мечты{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
      <div class="logo">HeadHunter БСК</div>
      <div class="search-bar">
        <input type="text" placeholder="Поиск вакансий...">
        <button>Искать</button>
      </div>
    </div>

    <div class="main-content">
      <div class="sidebar">
        <h3>Поиск по отраслям</h3>
        <ul>
          <li><a href="#">IT</a></li>
          <li><a href="#">Продажи</a></li>
          <li><a href="#">Маркетинг</a></li>
          <li><a href="#">Финансы</a></li>
          <li><a href="#">HR</a></li>
          <!-- ... другие отрасли ... -->
        </ul>

        <h3>Поиск по городам</h3>
        <ul>
          <li><a href="#">Москва</a></li>
          <li><a href="#">Санкт-Петербург</a></li>
          <li><a href="#">Екатеринбург</a></li>
          <li><a href="#">Новосибирск</a></li>
          <li><a href="#">Красноярск</a></li>
          <!-- ... другие города ... -->
        </ul>
      </div>

      <div class="vacancy-list">
        {% if not jobs %}
        <div class="vacancy-item empty-list">
          <h4>Вакансии отсутствуют</h4>
        </div>
        {% else %}
        <ul>
          {% for job in jobs %}
          <li>
            <div class="vacancy-item">
              <p class="item-date">{{ job.date_of_creation }}</p>
              <h4>{{ job.title }}</h4>
              <p class="company">{{ job.employer }}</p>
              <p class="description">{{ job.description }}</p>
              <p class="salary">{{ job.salary }}</p>
              <div class="job-btns-container">
                <a class="btn learn-more" href="{% url 'job_detail_view' job.id %}">Подробнее</a>
                {% if user.user_type == 'seeker' %}
                  <a class="btn btn-invert" href="{% url 'job_detail_view' job.id %}">Откликнуться</a>
                {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}