{% extends 'users/base.html' %}

{% block title %}Войти в учетную запись{% endblock %}

{% block content %}
    <div class="login">
        <div class="login-content" style="text-align:center;">
            <h2 class="title">Войти в аккаунт</h2>
            <a class="advice" href="#">Нет аккаунта?</a>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-auth">Войти</button>
            </form>
        </div>
    </div>
    <script>
        fr1 = document.getElementById("id_username");
        fr1.placeholder = "Логин";
        fr2 = document.getElementById("id_password");
        fr2.placeholder = "Пароль";
    </script>
{% endblock %}
