{% extends 'users/base.html' %}
{% load static %}
{% block title %}HHRU-BSK | Работа вашей мечты{% endblock %}


{% block additionals %}
<script>
    const is_authenticated = "{{user.is_authenticated}}" === "True";
    const user_type = "{{user_type}}";
</script>

<style>
    body{
        background: #000;
    }
</style>
{% endblock %}


{% block content %}

<div id="banner-sec">
    <img id="banner-img">
    <div class="container" style="margin: 0 auto; padding: 0; height: 100%;display: flex;justify-content: center;align-items: center;min-width: unset;">
        <div class="main-block" style="position:absolute; z-index: 999;">
            {% if user_type == 'employer' %}
                <h1 style="margin-top: 0;font-family: 'Helvetica';font-size: 80px;font-weight: 600;color: #fff;line-height: 100%;margin-bottom: 18px;text-align: center;">Разместите<br>вакансию на hh.ru </h1>
                <p style="color: #fff;max-width: 580px;font-size: 20px;text-align: center;margin: auto;">И находите сотрудников среди тех, кто хочет у вас работать. hh.ru — сервис №1 по поиску сотрудников в России*</p>
                <div style="display: flex;justify-content: center;">
                    <a class="btn learn-more" style="padding: 16px 32px;border-radius: 1rem;" href="{% url 'create_job' %}">Разместить вакансию</a>
                </div>
                <p style="color: #fff;max-width: 488px;text-align: center;margin: auto;">* По посещаемости за 31 день среди сайтов по поиску работы и персонала, по данным SimilarWeb по РФ на 01.10.2024 г.</p>
                <div style="margin-top: 18px;font-size: 18px;text-align: center;">
                    <a href="{% url 'set_user_type' 'seeker' %}" style="color: #fff;max-width: 488px;text-align: center;">Я ищу работу</a>
                </div>
            {% else %}
                <h1 style="font-family: 'Helvetica';font-size: 32px;font-weight: 600;color: #fff;line-height: 100%;margin-bottom: 18px;text-align: left;">Работа найдётся для каждого</h1>
                <form action="">
                    <div style="display: flex;gap: 20px;justify-content: center;">
                        <div style="display: flex;background: #fff;padding: 0 18px;width: 384px;gap: 12px;border-radius: 1rem;">
                            <div style="align-items: center;display: flex;">
                                <i class="fi fi-rs-search" style="display: flex;color: gray;font-size: 24px;"></i>
                            </div>
                            <input id="search-input" type="text" placeholder="Профессия, должность или компания" style="border: 0;width: 100%;font-size: 16px;outline: none;">
                        </div>
                        <input class="btn learn-more" style="padding: 16px 32px;margin: 0;border-radius: 1rem;" type="submit" onclick='window.open(`{% url "home" %}`);searchJobs("/jobs/api/jobs/search/")' value="Найти">
                    </div>
                    <div style="margin-top: 18px;font-size: 18px;">
                        <a href="{% url 'set_user_type' 'employer' %}" style="color: #fff;max-width: 488px;text-align: center;">Я ищу сотрудника</a>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block bottom_additionals %}

<script>
    var banner_img = document.getElementById("banner-img");
    if (user_type === "seeker"){
        banner_img.setAttribute('src', "{% static 'users/images/jobseeker-background.jpeg' %}");
    }
    else{
        banner_img.setAttribute('src', "{% static 'users/images/employer_background.png' %}");
    }
</script>

{% endblock %}