@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

.container {
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

.sub-link{
  font-size: 18px;
  font-family: 'Helvetica';
  text-decoration: none;
  color: #ffffff;
}

.nav-links {
  display: flex;
  justify-content: end;
  padding: 0;
  margin: 0;
  gap: 48px;
}

.nav-links li,
.nav-link {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.alt-info{
  background: #f1f4f9;
  padding: 6px 12px;
  border-radius: 32px;
}

.nav-link {
  padding: 0 !important;
  color: #000000;
  text-decoration: none;
  font-size: 13px;
}

.header-top li {
  list-style: none;
}

.top-panel {
  display: flex;
  justify-content: space-between;
}

.sel{
  color: #16a3ff;
  text-decoration: underline;
}

.header-top {
  max-height: 40px;
  min-height: 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-avatar {
  object-fit: cover;
  border-radius: 4rem;
  height: 64px;
  width: 64px;
  margin-inline: 8px;
}

.header-top .user-info {
  display: flex;
}

body {
  font-family: 'Arial', sans-serif;
  /* background-color: #f0f0f0; */
  background-color: #fff;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.white-background{
  background-color: #fff;
  margin: 64px auto;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #fff;
  padding: 0 20px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #16A3FF;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
} */

.logo {
  font-size: 2em;
  font-weight: bold;
  color: #16A3FF;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 300px;
  margin-right: 10px;
}

.search-bar button {
  background-color: #16A3FF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #21618c;
}

.main-content {
  margin-top: 20px;
}

.sidebar {
  width: 250px;
  margin-right: 20px;
}

.sidebar h3 {
  margin-bottom: 15px;
  color: #16A3FF;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #333;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.vacancy-list {
  flex: 1;
}

.vacancy-main-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vacancy-side-info{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  color: #a3a3a3;
}

.main-side{
  display: flex;
}

.vacancy-image{
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: center;
}

.vacancy-image img{
  object-fit: cover;
  height: 80px;
  width: 80px;
  border-radius: 4rem;
}

.vacancy-list ul {
  list-style: none;
}

.vacancy-item {
  background-color: #ffffff;
  border: 1px solid #dce3eb;
  padding: 16px 32px;
  margin-bottom: 10px;
  border-radius: 32px;
  transition: all 0.5s;
}

.vacancy-item:hover{
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.vacancy-item h4 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 5px;
  color: #16A3FF;
}

.item-date {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.vacancy-item p {
  color: #555;
}

.empty-list h4 {
  text-align: center;
  padding: 32px;
  font-size: 32px;
}

.vacancy-item .company {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.vacancy-item .salary {
  color: #16A3FF;
  margin: 0;
  margin-top: 32px;
  font-size: 32px;
  font-weight: 600;
}

.vacancy-item a {
  color: #333;
  text-decoration: none;
}

.vacancy-item a:hover {
  text-decoration: underline;
}

.job-details{
  width: 65%;
}

.job-content .job-title{
  text-align: left;
  font-weight: 600;
  color: #16a3ff;
  font-size: 32px;
  margin-bottom: 0;
}

.job-content .job-salary{
  font-size: 20px;
  text-align: left;
}

.company-info{
  width: 25%;
  padding: 32px;
  height: fit-content;
}

.company-info .comp-name{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
  font-family: 'Helvetica';
}

.company-info .comp-rating{
  display: flex;
  gap: 8px;
  margin: 8px 0;
  font-size: 24px;
  color: #ababab;
}

.company-info .comp-address{
  font-family: 'Helvetica';
  font-size: 18px;
  margin: 0;
}

.footer {
  text-align: center;
  padding: 32px 0;
  background: #000;
  color: #fff;
}

.login p label,
.register p label,
.vacancy-creation p label,
/* .errorlist li, */
.helptext {
  display: none;
}

.register ul {
  display: none;
}

.register-content,
.login-content {
  max-width: 320px;
  text-align: center;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 32px 64px;
  /* margin: 128px 64px; */
}

.register,
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register .title,
.login .title{
  margin-bottom: 8px;
}

.advice{
  color: #16A3FF;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

/* #id_username,
#id_email,
#id_password,
#id_company_name,
#id_password1,
#id_password2 {
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 2px solid #16A3FF;
  padding: 16px 0px;
  font-size: 16px;
  font-weight: 600;
  color: #16A3FF;
  min-width: 288px;
}

#id_username::placeholder,
#id_company_name::placeholder,
#id_email::placeholder,
#id_password::placeholder,
#id_password1::placeholder,
#id_password2::placeholder {
  color: #16A3FF;
} */

.btn i{
  display: flex;
}

.btn.green-invert{
  border-color: #1bba20 !important;
  color: #1bba20!important;
}
.btn.green-invert:hover{
  background-color: #1bba20!important;
}

.btn.green{
  border-color: #1bba20;
  background-color: #1bba20;
}

.btn.green:hover{
  color: #1bba20 !important;
}

.btn.red{
  border-color: #ff4646;
  background-color: #ff4646;
}

.btn.red:hover{
  color: #ff4646 !important;
}

.btn {
  padding: 12px 16px;
  background: #16A3FF;
  border: 2px solid #16A3FF;
  border-radius: 4rem;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 16px 0;
  cursor: pointer;
  transition: all;
  transition: all .3s;
  text-decoration: none !important;
}

.btn-invert{
  background: transparent !important;
  color: #16A3FF !important;
}

.btn-invert:hover{
  background: #16A3FF !important;
  color: #ffffff!important;
}

.btn-auth{
  min-width: 288px;
}

.job-btns-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.btns-block{
  display: flex;
  gap: 12px;
}

.learn-more{
  color: #fff !important;
}
.learn-more:hover{
  color: #16A3FF !important;
}

.btn:hover {
  background: transparent;
  color: #16A3FF;
}

.description{
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-width: 768px;
}

.title {
  font-size: 32px;
  font-weight: 800;
  color: #16A3FF;
}

.errorlist {
  display:  block!important;
  list-style: none !important;
  padding: 0;
}

.errorlist li{
  background: #ff00001c;
  padding: 8px 16px;
}

.errorlist li:not(:last-child){
  margin-bottom: 8px;
}



.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 256px;
  height: 256px;
  /* border-radius: 50%; */
  overflow: hidden;
  margin-right: 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  flex: 1;
}

.profile-details h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 2.2em;
}

.profile-details p {
  margin-bottom: 0;
}

.upload-area {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.upload-area input[type="file"] {
  display: none;
}

.upload-area button {
  background-color: #16A3FF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-area button:hover {
  background-color: #21618c;
}

.resume-form {
  margin-bottom: 20px;
}

.resume-form label {
  display: block;
  margin-bottom: 5px;
}

.resume-form input[type="text"],
.resume-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.resume-form textarea {
  height: 100px;
}

.profile-edit {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-edit input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: 10px;
  flex: 1;
}

.profile-edit button {
  background-color: #16A3FF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-edit button:hover {
  background-color: #21618c;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

#search-input{
  width: 100%;
  outline: none;
  border-radius: 20px;
  padding: 16px 24px;
}

#search-results{
  font-size: 22px;
  font-family: 'Helvetica';
  font-weight: 600;
}

.search-bar input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 300px; /* Ширина поля ввода */
}

.search-bar select {
  border-radius: 20px;
  padding: 16px 12px;
  font-size: 16px;
  border-color: #cccccc;
  outline: none;
  margin-right: 10px; /* Отступ между элементами */
  width: 150px; /* Ширина селекта */
}

.search-bar button {
  padding: 16px 12px;
  width: 15%;
  border-radius: 20px;
  border: 1px solid #16a3ff;
  font-size: 16px;
  color: white;
  background-color: #16a3ff;
  cursor: pointer;
}
.search-bar button i{
  justify-content: center;
}

.search-bar button:hover {
  background-color: transparent !important;
  color: #16a3ff!important;
}