{% extends 'users/base.html' %}
{% load static %}
{% block title %}Избранное{% endblock %}

{% block additionals %}
<script>
  const isSuper = "{{ user.is_superuser }}" === "True";
  // console.log(isSuper);
  const isAuthenticated = "{{ user.is_authenticated }}" === "True";
  // console.log(isAuthenticated);
  const userId = parseInt("{{ user.id }}");
  // console.log(userId);
  const userType = isAuthenticated ? "{{ user.user_type }}" : None;
  // console.log(userType);
  const featuredJobs = isAuthenticated ? JSON.parse("{{ featured_jobs }}") : None;
  // console.log(featuredJobs);
  const respondedJobs = isAuthenticated ? JSON.parse("{{ responded_jobs }}") : None;
  // console.log(respondedJobs);
</script>
{% endblock %}

{% block content %}
<div class="container" style="margin: 0 auto;">
    <div class="header" style="padding: 0;">
      <div class="logo" id="vacancy-count"></div>
      <div class="search-bar">
        <input id="search-input" type="text" placeholder="Поиск вакансий...">
        <select id="industry-filter">
          <option value="">Все отрасли</option>
          {% for industry in industries %}
            <option value="{{industry}}">{{industry}}</option>
          {% endfor %}
      </select>
      <select id="city-filter">
          <option value="">Все города</option>
          {% for city in cities %}
            <option value="{{city}}">{{city}}</option>
          {% endfor %}
      </select>
        <button onclick="searchJobs(`/jobs/api/features/${userId}/search/`, true)"><i class="fi fi-br-search"></i></button>
    </div>
    </div>

    <div class="main-content">
      <p id="search-results"></p>
      <div style="display: flex;">
        <div class="sidebar">
          <h3>Поиск по отраслям</h3>
          <ul>
            <li><a href="#">IT</a></li>
            <li><a href="#">Продажи</a></li>
            <li><a href="#">Маркетинг</a></li>
            <li><a href="#">Финансы</a></li>
            <li><a href="#">HR</a></li>
            <!-- ... другие отрасли ... -->
          </ul>

          <h3>Поиск по городам</h3>
          <ul>
            <li><a href="#">Москва</a></li>
            <li><a href="#">Санкт-Петербург</a></li>
            <li><a href="#">Екатеринбург</a></li>
            <li><a href="#">Новосибирск</a></li>
            <li><a href="#">Красноярск</a></li>
            <!-- ... другие города ... -->
          </ul>
        </div>
        <div class="vacancy-list" id="vacancy-list">
          <ul id="vacancy-list-ul">
          </ul>
        </div>
      </div>
  </div>
{% endblock %}

{% block bottom_additionals %}
<script src="{% static 'users/js/schedule.js' %}"></script>
<script src="{% static 'users/js/search.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', loadAllData(`/jobs/api/features/${userId}/`, true));
  document.getElementById('search-input').addEventListener('keydown', function(event) {
    if (event.key === 'Enter') {
        searchJobs(`/jobs/api/features/${userId}/search/`, true);
    }
});
</script>
{% endblock %}