{% extends 'users/base.html' %}
{% load static %}
{% block title %}Список откликнувшихся{% endblock %}

{% block content %}
<!-- <div class="container">
{% for resp in resps%}
    <div>{{resp.job}} - {{resp.date_of_response}}<br>
    {{resp.job_seeker}} - {{resp.employer}}</div>
{% endfor %}
</div> -->

<div class="container">
<div class="vacancy-list" id="vacancy-list">
    {% if not resps %}
    <div class="vacancy-item empty-list">
      <h4>Вакансии отсутствуют</h4>
    </div>
    {% else %}
    <ul>
      {% for resp in resps %}
      <li>
        <div class="vacancy-item">
          <div class="vacancy-main-info">
            <div class="main-side">
              <div class="vacancy-image">
                  {% if resp.job.employer.user.profile_picture %}
                    <img src="{{ job.employer.user.profile_picture.url }}" alt="Фото профиля">
                  {% else %}
                    <img src="{% static 'users/images/user_avatar_default.png' %}" alt="Фото профиля">
                  {% endif %}
                </div>
                <div>
                  <p class="item-date">{{ resp.date_of_response }}</p>
                  <h4>{{ resp.job.title }}</h4>
                  <p class="company">{{ resp.employer }}</p>
                </div>
            </div>
            <div class="vacancy-side-info">
            </div>
          </div>
          <p class="description">{{ resp.description }}</p>
          <div class="job-btns-container">
            <div class="btns-block">
              <a class="btn learn-more" href="{% url 'job_detail_view' resp.job.id %}">Подробнее</a>
              <a class="btn learn-more" href="{% url 'job_detail_view' resp.job.id %}">Подробнее</a>
              <a class="btn learn-more" href="{% url 'job_detail_view' resp.job.id %}">Подробнее</a>
            </div>
            <div>
              <p class="salary">{{ resp.job.salary }}</p>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
</div>
</div>
{% endblock %}
