{% extends 'users/base.html' %}
{% load static %}
{% block title %}Список откликнувшихся{% endblock %}

{% block additionals %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="vacancy-list" id="vacancy-list">
    {% if not resps %}
    <div class="vacancy-item empty-list">
      <h4>Вакансии отсутствуют</h4>
    </div>
    {% else %}
    <ul>
      {% for resp in resps %}
      <li style="display:flex;justify-content:center;">
        <div class="vacancy-item" style="width:65%;">
          <div class="vacancy-main-info">
            <div class="main-side">
              <div class="vacancy-image">
                  {% if resp.job_seeker.user.profile_picture %}
                    <img src="{{ resp.job_seeker.user.profile_picture.url }}" alt="Фото профиля">
                  {% else %}
                    <img src="{% static 'users/images/user_avatar_default.png' %}" alt="Фото профиля">
                  {% endif %}
                </div>
                <div>
                  <p class="item-date">{{ resp.date_of_response }}</p>
                  {% comment %} <h4>{{ resp.job.title }}</h4> {% endcomment %}
                  <p class="company">{{ resp.job_seeker.full_name }}</p>
                </div>
            </div>
            <div class="vacancy-side-info">
              <span style="display: flex;align-items: center;justify-content: right;gap: 12px;font-size: 18px;">
                  {{resp.get_status_display }}
                  {% if resp.status == 'pending' %}
                  <div class="pulsing-dot blue"></div>
                  {% elif resp.status == 'accepted' %}
                  <i style="color: #1bba20;display: flex;align-items: center;" class="fi fi-ss-badge-check"></i>
                  {% else %}
                  <i style="color: #fa4747;display: flex;align-items: center;" class="fi fi-ss-cross-circle"></i>
                  {% endif %}
              </span>
          </div>
          </div>
          <div class="job-btns-container">
            <div class="btns-block">
              <a class="btn btn-invert angles" style="display: flex;gap: 9px;" href="{% url 'job_detail_view' resp.job.id %}"><i class="fi fi-rr-info"></i><span>Подробнее</span></a>
              <a class="btn learn-more angles" style="display: flex;gap: 9px;" href="#"><i class="fi fi-ss-comment"></i><span>Перейти к чату</span></a>
              <a class="btn learn-more green angles" href="{% url 'accept_resp' resp.id %}" style="padding-inline: 14px;display:flex;font-size:20px;"><i class="fi fi-bs-badge-check"></i></a>
              <a class="btn learn-more red angles" href="{% url 'reject_resp' resp.id %}" style="padding-inline: 14px;display:flex;font-size:20px;"><i class="fi fi-bs-cross-circle"></i></a>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
